@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    font-family: 'Roboto', sans-serif;

}

/* Slicebox Style */
.sb-slider {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

.sb-slider li > a {
    outline: none;
}

.sb-slider li > a img {
    border: none;
}

.sb-slider img {
    max-width: 100%;
    display: block;
}

.sb-description {
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: 10px;
    z-index: 1000;
    background: rgba(255, 0, 0, 0.6);
    border-left: 4px solid #fff;
    opacity: 0;
    color: #fff;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

.sb-slider li.sb-current .sb-description {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
    background: rgba(255, 0, 0, 0.8);
}

.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;

    -moz-backface-visibility: hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/* custom style */
.container-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}


.sb-description h3 {
    font-size: 20px;
}

.sb-description h3 a {
    color: #4a3c27;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.nav-arrows {
    display: none;
}

.nav-arrows a {
    width: 42px;
    height: 42px;
    background: #000 url(https://tympanus.net/Development/Slicebox/images/nav.png) no-repeat top left;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 45%;
    left: 20px;
    text-indent: -9000px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 300ms;
}

.nav-arrows a:first-child {
    left: auto;
    right: 20px;
    background-position: top right;
}

.nav-arrows a:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* ESTILOS DE EJEMPLO */

.container-text{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    box-sizing: border-box;
}

.container-text h1{
    font-size: 30px;
    font-weight: 500;
}

.container-text p{
    font-size: 18px;
    font-weight: 300;
}


@media screen and (max-width: 800px) {
    
    .nav-arrows a {
        width: 32px;
        height: 32px;
    }
    
    .sb-description {
        height: 30px;
    }
    
    .sb-description h3{
        margin: 3px;
    }
}
