.imgClass {
    position: absolute;

}

.imgClass img {
    max-width: 100%;
    height: auto;
}


.fb2css {
    padding: 10px;
    background-color: rgba(98, 153, 193, 0.76);
    margin: 30px;
    border-radius: 10px;
    left: 50%;
    /*position: absolute;*/
    /*transform: translateX(-50%);*/
    width: 85% !important;
    width: 300px;
}

#FB-Oauth {
    padding: 10px;
    background-color: rgba(98, 153, 193, 0.76);
    margin: 30px;
    border-radius: 10px;
    left: 50%;
    /*position: absolute;*/
    /*transform: translateX(-50%);*/
    /* width: 90% !important; */
    width: 300px;
}

/*@media screen and (max-width: 600px) {
    #FB-Oauth,#FB-Oauth2{
        width: 300px;
    }} */
@media screen and (max-width:4000px) {
    .img6 {
        top: 0px;
        right: 0px;
        width: 490px;
    }

    .img5 {
        top: 0px;
        left: 0px;
        width: 400px;
    }
}

@media screen and (max-width:1100px) {
    .img5 {
        top: 0px;
        left: 0px;
        width: 300px;
    }

    .img6 {
        top: 0px;
        right: 0px;
        width: 400px;
    }
}

@media screen and (max-width:980px) {
    section blockquote {
        font-size: 1.2em;
    }

}

@media screen and (max-width:900px) {
    .img6 {
        top: 0px;
        right: 0px;
        width: 320px;
    }

    .img5 {
        top: 0px;
        left: 0px;
        width: 300px;
    }
}

@media screen and (max-width:736px) {

    .img1 {
        height: 180px;
        bottom: 40px;
        left: 40px;
        width: 150px;
    }

    .img2 {
        top: 0px;
        height: 200px;
        width: 100px;
        right: 0px;
    }

    .img3 {
        top: 0px;
        left: 0px;
        height: 100px;
        width: 100px;


    }

    .img4 {
        top: 5%;
        left: 0px;
        width: 300px;
        margin: 0px auto;

    }

    .imgcontainer {
        top: 0px;
        left: 0;
        width: 100%;
        right: 0;
    }

    #header {
        height: 100%;
        width: 100%;

    }

    #header center {
        position: absolute;
        width: 100%;
        top: 61%;
        z-index: 20;
        left: -11px;
        margin-top: -100px;
    }

    .feature .content :last-child {
        text-align: justify;
    }

    section blockquote {
        font-size: 1.1em;
    }

    .type2 {
        display: none;
    }
}


@media screen and (min-width:737px) {

    .type1 {
        display: none;
    }

}