
.celesta-intro{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
}

#circular{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%,-50%);
}
@media(max-width: 500px){
    #circular{
        width: 200px;
        height: 200px;
    }
}
#circular .img1{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: perspective(400px);
    animation: circular-animate 100s linear infinite;
}
#circular .img1 img{
    width: 100%;
    height: 100%;
    opacity: .4;
}
#circular .img2{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: circular-animate 40s linear infinite;
}
#circular .img2 img{
    width: 100%;
    height: 100%;
    transform: scale(1);
}
@keyframes circular-animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.parallax-container1{
    position: absolute;
    top: 30vh;
    left: 0;
    width: 30%;
    height: 40vh;
    overflow: hidden;
}
.parallax-container1 #scene1, .parallax-container1 #scene1 img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax-container2{
    position: absolute;
    top: 30vh;
    right: 0;
    width: 30%;
    height: 60vh;
    overflow: hidden;
}
.parallax-container2 #scene2, .parallax-container2 #scene2 img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}