
.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}

/* Gallery Section
--------------------------------*/

#gallery {
    padding: 75px 0 100px;
}

#gallery #gallery-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#gallery #gallery-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#gallery #gallery-flters li:hover,
#gallery #gallery-flters li.filter-active {
    background: #18d26e;
    color: #fff;
}

#gallery #gallery-flters li:last-child {
    margin-right: 0;
}

#gallery .gallery-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#gallery .gallery-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#gallery .gallery-item {
    position: relative;
    height: 360px;
    overflow: hidden;
}

#gallery .gallery-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery .gallery-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#gallery .gallery-item figure .link-preview {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#gallery .gallery-item figure .link-preview i{
    padding-top: 6px;
    font-size: 22px;
    color: #333;
}

#gallery .gallery-item figure .link-preview:hover {
    background: #18d26e;
}

#gallery .gallery-item figure .link-preview:hover i {
    color: #fff;
}

#gallery .gallery-item figure:hover .link-preview {
    transform: scale(10);
}

#gallery .gallery-item .gallery-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 50px;
    border-radius: 0 0 3px 3px;
}

#gallery .gallery-item .gallery-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
}

#gallery .gallery-item .gallery-info h4 a {
    color: #333;
}

#gallery .gallery-item .gallery-info h4 a:hover {
    color: #18d26e;
}

#gallery .gallery-item .gallery-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

/*alpha*/
.alpha-events {
  padding: 4rem 0;
}
.alpha-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.alpha-container {
  width: 100vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}
.alpha-img-container {
  position: relative;
  overflow: hidden;
  max-height: 400px;
}
.alpha-img-container img{
    height: 400px;
    width: 100%;
}

.alpha-img-container img{
    opacity: 0.3;
}

.alpha-event h3 {
  text-transform: capitalize;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-weight: bold;
  display: inline;
}

.alpha-event p {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: bold;
    display: inline;
}

.alpha-event p a{
    color: #fff;
}

.alpha-event p a:hover{
    color: #0472cc;
}